## Velocity Template for SQL Script Generation

CREATE CONV SAMAD.CONVERT
  SRCXF //'D:\Docs\Optim_Doc\Abdus Samad\Extract\Extract.csv'//
  DESTXF //'D:\Docs\Optim_Doc\Abdus Samad\Extract\Extract1.csv'//
  CF //'archive.CF'//
  FORCEEDITTM Y DELCNTLFILE N
  LOCALTM (
    SRCQUAL OPTIMSRC130.OPTIMSRC130 DESTQUAL OPTIMSRC130.OPTIMSRC130 VALRULES M UNUSEDOBJ Y SOLUTION 0
    (
#foreach($table in $maskedTables)
      $table.name = $table.name LOCALCM (
        VALRULES M
        DSTUSESSRC T
        (
#foreach($col in $table.columns)
#set($maskFunc = $payloadTables.get($table.name).columnMaskingMap.get($col))
#if($maskFunc)
  #if($maskFunc.startsWith("TRANS"))
          "$maskFunc" = $col#if($foreach.hasNext),#end
  #elseif($maskFunc == 'shuffle')
          shuffle = $col#if($foreach.hasNext),#end
  #else
          $maskFunc = $col#if($foreach.hasNext),#end
  #end
#else
          $col = $col#if($foreach.hasNext),#end
#end
#end
        )
      )#if($foreach.hasNext),#end
#end

#foreach($table in $unmaskedTables)
      $table.name = $table.name#if($foreach.hasNext),#end
#end
    )
    PROCEDURES (
      SYSTEM.GET_TOP_10_AU_LASTNAME = SYSTEM.GET_TOP_10_AU_LASTNAME,
      OPTIMDIR130.GET_TOP_10_SALES = OPTIMDIR130.GET_TOP_10_SALES,
      GET_TOP_10_AU_LASTNAME = GET_TOP_10_AU_LASTNAME,
      GET_10_SALES = GET_10_SALES
    )
  )
  SHOWCURRENCY Y SHOWAGE Y
  FUNCTION_AGING (
    AGETYPE NONE MULTIPLE 1 CALENDAR SAMPLE_AU PIVOT 30 INVALIDDATES N SKIPPEDDATES N
  )
  GLOBAL_AGING (
    AGETYPE NONE MULTIPLE 1 CALENDAR SAMPLE_AU PIVOT 30 INVALIDDATES N SKIPPEDDATES N
  )
  REPORT_OPTION (
    RPTERROR F
    RPTSUMMARY F
    RPTINVALID F
    RPTSKIPPED F
    RPTMASKVERIFICATION F
  )
  CURRENCY_OPTION (
    DEFAULT SAMPLE
  )
  COMPRESSFILE Y INCL_FILEATTACH N;
