## Velocity Template for SQL Script Generation

CREATE CONV ${request.createCnv}
  SRCXF //'${request.srcxf}'//
  DESTXF //'${request.destxf}'//
  CF //'${request.cf}'//
  FORCEEDITTM ${request.forceEditTM} DELCNTLFILE ${request.delCntlFile}
  LOCALTM (
    SRCQUAL ${request.srcQual} DESTQUAL ${request.destQual} VALRULES ${request.valRules} UNUSEDOBJ ${request.unusedObj} SOLUTION ${request.solution}
    (
#foreach($table in $maskedTables)
      $table.name = $table.name LOCALCM (
        VALRULES ${request.valRules}
        DSTUSESSRC ${request.dstUsesSrc}
        (
#foreach($col in $table.columns)
#set($maskFunc = $payloadTables.get($table.name).columnMaskingMap.get($col))
#if($maskFunc && $maskFunc != $col)
  #if($maskFunc.startsWith("TRANS"))
          "$maskFunc" = $col#if($foreach.hasNext),#end
  #elseif($maskFunc == 'shuffle')
          shuffle = $col#if($foreach.hasNext),#end
  #else
          $maskFunc = $col#if($foreach.hasNext),#end
  #end
#else
          $col = $col#if($foreach.hasNext),#end
#end
#end
        )
      )#if($foreach.hasNext),#end
#end

#foreach($table in $unmaskedTables)
      $table.name = $table.name#if($foreach.hasNext),#end
#end
    )
    PROCEDURES (
#foreach($proc in ${request.procedures})
      $proc#if($foreach.hasNext),#end
#end
    )
  )
  SHOWCURRENCY ${request.showCurrency} SHOWAGE ${request.showAge}
  FUNCTION_AGING (
    AGETYPE ${request.ageType} MULTIPLE ${request.multiple} CALENDAR ${request.calendar} PIVOT ${request.pivot} 
    INVALIDDATES ${request.invalidDates} SKIPPEDDATES ${request.skippedDates}
  )
  GLOBAL_AGING (
    AGETYPE ${request.globalAgeType} MULTIPLE ${request.globalMultiple} CALENDAR ${request.globalCalendar} 
    PIVOT ${request.globalPivot} INVALIDDATES ${request.globalInvalidDates} SKIPPEDDATES ${request.globalSkippedDates}
  )
  REPORT_OPTION (
    RPTERROR ${request.rptError}
    RPTSUMMARY ${request.rptSummary}
    RPTINVALID ${request.rptInvalid}
    RPTSKIPPED ${request.rptSkipped}
    RPTMASKVERIFICATION ${request.rptMaskVerification}
  )
  CURRENCY_OPTION (
    DEFAULT ${request.currencyDefault}
  )
  COMPRESSFILE ${request.compressFile} INCL_FILEATTACH ${request.inclFileAttach};
