## Velocity Template for SQL Script Generation

CREATE CONV SAMAD.CONVERT
  SRCXF //'D:\Docs\Optim_Doc\Abdus Samad\Extract\Extract.csv'//
  DESTXF //'D:\Docs\Optim_Doc\Abdus Samad\Extract\Extract1.csv'//
  CF //'archive.CF'//
  FORCEEDITTM Y DELCNTLFILE N
  LOCALTM (
    SRCQUAL OPTIMSRC130.OPTIMSRC130  DESTQUAL OPTIMSRC130.OPTIMSRC130  VALRULES M UNUSEDOBJ Y SOLUTION 0
    ( #foreach($table in $maskedTables)
      $table.name = $table.name LOCALCM (
        VALRULES M
        DSTUSESSRC T
        (
#foreach($col in $table.columns)
          #set($maskFunc = $payloadTables.get($table.name).columnMaskingMap.get($col))
          #if($maskFunc)
            "$maskFunc" = $col#if($foreach.hasNext),#end
          #else
            $col = $col#if($foreach.hasNext),#end
          #end
#end
        )
      )
#end

#foreach($table in $unmaskedTables)  ## Handle unmasked tables ##
      $table.name = $table.name#if($foreach.hasNext),#end
#end
    )
    PROCEDURES (
      SYSTEM.GET_TOP_10_AU_LASTNAME = SYSTEM.GET_TOP_10_AU_LASTNAME,
      OPTIMDIR130.GET_TOP_10_SALES = OPTIMDIR130.GET_TOP_10_SALES,
      GET_TOP_10_AU_LASTNAME = GET_TOP_10_AU_LASTNAME,
      GET_10_SALES = GET_10_SALES
    )
  )
  SHOWCURRENCY Y SHOWAGE Y
  FUNCTION_AGING (
    AGETYPE NONE MULTIPLE 1 CALENDAR SAMPLE_AU PIVOT 30 INVALIDDATES N SKIPPEDDATES N
  )
  GLOBAL_AGING (
    AGETYPE NONE MULTIPLE 1 CALENDAR SAMPLE_AU PIVOT 30 INVALIDDATES N SKIPPEDDATES N
  )
  REPORT_OPTION (
    RPTERROR F 
    RPTSUMMARY F 
    RPTINVALID F 
    RPTSKIPPED F 
    RPTMASKVERIFICATION F
  )
  CURRENCY_OPTION (
    DEFAULT SAMPLE
  )
  COMPRESSFILE Y INCL_FILEATTACH N
  CSVF (
    FILEMACRO N 
    ROWCNT(0) 
    FILESIZE(0) 
    NUMFILES(0)
#foreach($table in $allTables)  ## For all tables to create OBJ entry ##
    OBJ($table.name) PATH(//'0'//) ROWCNT(0) FILESIZE(0) NUMFILES(0)#if($foreach.hasNext),#end
#end
    OPTIONS( GENMDATA N FIELDDELIM(//','//) STRDELIM(//'0'//) ESCCHAR(//'0'//) LOBENABLED N NULLCHECK N )
  )
;
